@model IEnumerable<ClassWarfare.Models.AttackListItem>

@{
    ViewBag.Title = "Index";
}

<div class="tableindexheader">
    <div class="tabletitle">
        <h2>Add an Attack</h2>
    </div>

    <div class="tableindexcreate">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { style = "color: rgb(128,128,128)" })
        </p>
    </div>
</div>


@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttackId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttackName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AttackId }) |
                @Html.ActionLink("Details", "Details", new { id = item.AttackId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AttackId })
            </td>
        </tr>
    }

</table>

