@model CyberWarfare.Models.CountryDetail

@{
    ViewBag.Title = "Delete";
}

<div class="aboutheader">
    <div class="abouttitle">
        <h2>Delete Country</h2>
    </div>
    <h3>Are you sure you want to delete this?</h3>
</div>

<div class="aboutmain">

    <div>
        <h4>CountryDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CountryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryTech)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryTech)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DipRelations)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DipRelations)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryBudget)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryBudget)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>