@model CyberWarfare.Models.CountryDetail

@{
    ViewBag.Title = "Details";
}

<div class="aboutheader">
    <div class="abouttitle">
        <h2>Country Details</h2>
    </div>
</div>

<div class="aboutmain">
    <div>
        <h4>CountryDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CountryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryTech)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryTech)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DipRelations)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DipRelations)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StaffAmount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StaffAmount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CountryBudget)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CountryBudget)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
