@model CyberWarfare.Models.DataCollectDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataCollectDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataCollectItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCollectItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Success)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Success)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttackingCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttackingCountry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DataCollectItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
